:root {
  --color-text: rgba(255, 255, 255, 1);
  --background-color: rgba(0, 0, 0, 1);
  --light-gray: #d0d0d0;
  --gray: #969696;
  --nav-background-color: rgba(15, 15, 15, 1);
  --hf-background-color: rgba(31, 31, 31, 1);
  --dairy-modal-background: #fcfcfc;
  --input-color: rgba(255, 255, 255, 0.40)
  --trans--: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: var(--color-text);
  background-color: var(--background-color);
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
p {
  text-align: center;
  font-size: 14px;
  line-height: 150%; /* 21px */
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
h4 {
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p-new-collection {
  color: var(--light-gray);
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
button {
  color: var(--color-text);
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border-color: var(--color-text);
  padding: 12px 27px;
}

.container {
  max-width: 375px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0px 200px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0px 403px;
  }
}

/*header*/

.header.container {
  align-items: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  margin-right: 32px;
  display: none;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
  }
}

.menu-toggle {
  fill: var(--color-text);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.modal-close-icon {
  fill: var(--color-text);
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  padding: 10px 0;
}
.header-logo {
  width: 104px;
  height: 49px;
  margin-right: ;
}
.text-heder {
  color: var(--gray);
  font-size: 12px;
  line-height: normal;
  margin-left: 15px;
  margin-right: auto;
  padding: 14px 0px 14px 0px;
}
.text-heder.vchid {
  margin-left: 19px;
}
.top-line {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.top-bloc {
  display: flex;
}
.svhead {
  fill: var(--gray);
}

.header-button:hover,
.header-button:focus {
  transform: scale(1.5);
}
.header-button {
  margin: 0px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--trans--);
}
@media screen and (min-width: 768px) {
  .header-button {
    margin: 0px 20px;
  }
}
.header-button.top {
  margin: 0px 5px;
}
/*burger-menu*/
.header-burger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.menu {
  position: absolute;
  right: -50%;
  top: 0;
  width: 100px;
  background-color: transparent;
  padding: 140px 20px 20px 20px;
  transition: transform.5s;
}
.menu-list {
  display: block;
}
.head.open .menu {
  transform: translateX(-225%);
}
@media screen and (min-width: 768px) {
  .header-burger-btn {
    display: none;
  }
  .menu {
    display: none;
  }
}
.header-burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--color-text);
  left: 5px;
  transition: transform.5s, opacity.5s, background-color.5s;
}
.header-burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header-burger-btn span:nth-child(3) {
  transform: translateY(10px);
}
.head.open .header-burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.head.open .header-burger-btn span:nth-child(2) {
  opacity: 0;
}
.head.open .header-burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.head.open .header-burger-btn span {
  background-color: var(--color-text);
}

.link {
  width: 14px;
  height: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.svghead {
  fill: var(--color-text);
}

.header-item {
  padding: 31px 18px 31px 18px;
  transition: var(--trans--);
}
.header-item:hover,
.header-item:focus {
  background-color: var(--hf-background-color);
}

.heder-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background-color);
}
.header-bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*abuot*/
.about-cont {
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.50) 0%, rgba(15, 15, 15, 0.50) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
 
  background-repeat: no-repeat;
  background-position: center center;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*new-collection*/

.new-collection-katalog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
  max-width: 375px;
  padding: 375px 20px 100px 20px;
  background: linear-gradient(
    0deg, 
    rgba(15, 15, 15, 0.50) 0%,
    rgba(15, 15, 15, 0.50) 100%),
   url(../images/Rectangle\ 8\ .jpg);
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;   
}

@media only screen and(min-resolution:192dpi) {
  .new-collection-katalog {
    background: linear-gradient(
        0deg,
        rgba(15, 15, 15, 0.5) 0%,
        rgba(15, 15, 15, 0.5) 100%
      ),
      url(../images/Rectangle\ 8\@2x .jpg);
  }
}
@media screen and (min-width: 768px) {
  .new-collection-katalog {
    max-width: 768px;
    background-image: linear-gradient(
        0deg,
        rgba(15, 15, 15, 0.5) 0%,
        rgba(15, 15, 15, 0.5) 100%
      ),
      url(../images/Rectangle\ 8\ .jpg);
  }
}
@media only screen and(min-resolution:192dpi) {
  .new-collection-katalog {
    background: linear-gradient(
        0deg,
        rgba(15, 15, 15, 0.5) 0%,
        rgba(15, 15, 15, 0.5) 100%
      ),
      url(../images/Rectangle\ 8\@2x .jpg);
  }
}
@media screen and (min-width: 1024px) {
  .new-collection-katalog {
    padding: 484px 252px 100px 252px;
    max-width: 880px;
    background-image: linear-gradient(
        0deg,
        rgba(15, 15, 15, 0.5) 0%,
        rgba(15, 15, 15, 0.5) 100%
      ),
      url(../images/Rectangle\ 8\ .jpg);
  }
}
@media only screen and(min-resolution:192dpi) {
  .new-collection-katalog {
    background: linear-gradient(
        0deg,
        rgba(15, 15, 15, 0.5) 0%,
        rgba(15, 15, 15, 0.5) 100%
      ),
      url(../images/Rectangle\ 8\@2x .jpg);
  }
}
@media screen and (min-width: 1440px) {
  .new-collection-katalog {
    padding: 484px 100px 100px 100px;
    max-width: 880px;
    background-image: linear-gradient(
        0deg,
        rgba(15, 15, 15, 0.5) 0%,
        rgba(15, 15, 15, 0.5) 100%
      ),
      url(../images/Rectangle\ 8\ .jpg);
  }
}
@media only screen and(min-resolution:192dpi) {
  .new-collection-katalog {
    background: linear-gradient(
        0deg,
        rgba(15, 15, 15, 0.5) 0%,
        rgba(15, 15, 15, 0.5) 100%
      ),
      url(../images/Rectangle\ 8\@2x .jpg);
  }
}
@media screen and (min-width: 1920px) {
  .new-collection-katalog {
    padding: 484px 252px 100px 252px;
    max-width: 880px;
    background-image: linear-gradient(
        0deg,
        rgba(15, 15, 15, 0.5) 0%,
        rgba(15, 15, 15, 0.5) 100%
      ),
      url(../images/Rectangle\ 8\ .jpg);
  }
}
@media only screen and(min-resolution:192dpi) {
  .new-collection-katalog {
    background: linear-gradient(
        0deg,
        rgba(15, 15, 15, 0.5) 0%,
        rgba(15, 15, 15, 0.5) 100%
      ),
      url(../images/Rectangle\ 8\@2x .jpg);
  }
}
.new-collection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .new-collection {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .new-collection {
    flex-direction: row;
  }
}

.collection-list {
  display: flex;
  flex-direction: column;
}
.collection-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 93px 20px;
  gap: 50px;
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .collection-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
  .collection-bloc {
    padding: 93px 98px;
  }
}
@media screen and (min-width: 1024px) {
  .collection-bloc {
    padding: 30px 10px;
    gap: 20px;
  }
  .collection-list {
    flex-direction: row;

    gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .collection-bloc {
    padding: 90px 50px;
    gap: 50px;
  }
}
@media screen and (min-width: 1920px) {
  .collection-bloc {
    padding: 80px 100px 90px 100px;
  }
  .collection-list {
    gap: 60px;
  }
}

.p-new-collection {
  color: var(--light-gray);
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.new-collection-katalog span {
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: var(--color-text);
  left: 35%;
  bottom: 170px;
}
@media screen and (min-width: 768px) {
  .new-collection-katalog span {
    left: 42.5%;
  }
}

@media screen and (min-width: 1440px) {
  .new-collection-katalog span {
    left: 37%;
  }
}
@media screen and (min-width: 1920px) {
  .new-collection-katalog span {
    left: 42.5%;
  }
}
.new-collection-title {
  margin: 0;
  display: inline-flex;
}
/***********collection************/
.collection {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .collection {
    flex-direction: row;
  }
}
.collection-articl {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
}
@media screen and (min-width: 768px) {
  .collection-articl {
    padding: 50px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .collection-articl {
    padding: 70px 200px;
  }
}
@media screen and (min-width: 1440px) {
  .collection-articl {
    padding: 50px 50px;
  }
}
@media screen and (min-width: 1920px) {
  .collection-articl {
    padding: 100px 180px;
  }
}
.collection-articl span {
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: var(--color-text);
  top: 130px;
}
@media screen and (min-width: 1024px) {
  .collection-articl span {
    top: 150px;
  }
}
@media screen and (min-width: 1440px) {
  .collection-articl span {
    top: 130px;
  }
}
@media screen and (min-width: 1920px) {
  .collection-articl span {
    top: 180px;
  }
}
.articl {
  margin-top: 70px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1440px) {
  .articl {
    width: 628px;
  }
  .collection img {
    max-width: 720px;
  }
}
@media screen and (min-width: 1920px) {
  .collection img {
    max-width: 936px;
  }
}
/******************new-goods*********************/
.new-goods {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .new-goods {
    padding-left: 95px;
    padding-right: 95px;
  }
}
@media screen and (min-width: 1024px) {
  .new-goods {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 227px;
    padding-right: 227px;
  }
}
@media screen and (min-width: 1440px) {
  .new-goods {
    padding-left: 165px;
    padding-right: 165px;
  }
}
@media screen and (min-width: 1920px) {
  .new-goods {
    padding-left: 405px;
    padding-right: 405px;
  }
}
.new-goods-span {
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: var(--color-text);
  top: 215px;
}
@media screen and (min-width: 768px) {
  .new-goods-span {
    top: 155px;
  }
}
@media screen and (min-width: 1024px) {
  .new-goods-span {
    top: 215px;
  }
}
.new-goods-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  column-gap: 23px;
  margin-top: 120px;
}
@media screen and (min-width: 768px) {
  .new-goods-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    column-gap: 23px;
  }
}
@media screen and (min-width: 1024px) {
  .new-goods-list {
    column-gap: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .new-goods-list {
    column-gap: 23px;
  }
}

.new-goods-item {
  max-width: 260px;
}

.new-goods-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.zegarek-bloc {
  position: relative;
  max-width: 260px;
}
.new-goods-title {
  margin: 0;
}
/******************articles********************/
.articles-section {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.articles-section span {
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: var(--color-text);
  top: 90px;
}
.articles-bl {
  margin-top: 95px;
}
@media screen and (min-width: 1024px) {
  .articles-bloc {
    display: flex;
  }
  .articles-section {
    gap: 0;
  }
}

/*.articles-first {
  display: none;
}
.articles-second {
  display: none;
}
.articles-third {
  display: none;
}
.articles-fourth {
  display: none;
}
.articles-fifth {
  display: block;
}*/

.articles-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.articles-tumb {
  max-width: 628px;
}
.articles-div {
  padding: 50px 10px;
}
@media screen and (min-width: 768px) {
  .articles-div {
    padding: 50px 150px;
  }
}
@media screen and (min-width: 1024px) {
  .articles-div {
    padding: 10px 10px;
  }
}
@media screen and (min-width: 1440px) {
  .articles-div {
    padding: 50px 50px;
  }
}
@media screen and (min-width: 1440px) {
  .articles-div {
    padding: 50px 150px;
  }
}
.articles-title {
  margin: 0;
}
.articles {
  margin-top: 14px;
  margin-bottom: 38px;
}
@media screen and (min-width: 1024px) {
  .articles {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .articles {
    margin-top: 14px;
    margin-bottom: 25px;
  }
}
/******************our-brands*************************/
.our-brands {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--nav-background-color);
  padding: 50px;
}

@media screen and (min-width: 1024px) {
  .our-brands {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .our-brands {
    padding-top: 90px;
  }
}
.our-brands h2 {
  margin: 0;
}
.our-brands span {
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: var(--color-text);
  top: 200px;
}
@media screen and (min-width: 768px) {
  .our-brands span {
    top: 185px;
  }
}
@media screen and (min-width: 768px) {
  .our-brands span {
    top: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .our-brands span {
    top: 215px;
  }
}
@media screen and (min-width: 1920px) {
  .our-brands span {
    top: 185px;
  }
}
.our-brands-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  column-gap: 30px;
  margin-top: 95px;
}

@media screen and (min-width: 1024px) {
  .our-brands-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    column-gap: 100px;
  }
}
@media screen and (min-width: 1920px) {
  .our-brands-list {
    column-gap: 30px;
  }
}
/********************footer******************/
.footer-section {
 
 /* background: linear-gradient(0deg, rgba(15, 15, 15, 0.85) 0%, rgba(15, 15, 15, 0.85) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat, #C4C4C4;*/
  background-image: url(../images/Rectangle\ 15\ .jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer-bloc {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 65px;
  gap: 50px;
  align-items: center;
   

}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 300px;
}
  
@media screen and (min-width: 1024px){
  .footer-bloc{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
  }

}
.footer-bloc {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 65px;

}

.footer-bloc button {
  border: none;
  color: var(--light-gray, #d0d0d0);
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  padding: 10px 20px;
  background-color:var(--background-color);
}
.footer-bloc h3 {
  margin: 0;
  margin-bottom: 40px;
}
.footer-article {
  max-width: 350px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  
}
@media screen and (min-width: 1440px){
  .footer-bottom{
    padding: 0px 200px;
  }
}
@media screen and (min-width: 1920px){
  .footer-bottom{
    padding: 0px 403px;
  }
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 300px;
  gap: 20px;
}
 

.fmail {
  width: 210px;
  margin-top: 26px;
  border: none;
  background-color:var(--hf-background-color); 
  height: 42px;
  padding: 8px 16px;

 
}
