:root {
  --color-text: rgba(255, 255, 255, 1);
  --background-color: rgba(0, 0, 0, 1);
  --light-gray: #d0d0d0;
  --gray: #969696;
  --nav-background-color: rgba(15, 15, 15, 1);
  --hf-background-color: rgba(31, 31, 31, 1);

  --trans--: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: var(--color-text);
  background-color: var(--background-color);
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
p {
  text-align: center;
  font-size: 14px;
  line-height: 150%; /* 21px */
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
h4 {
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.spanh4 {
  color: var(--light-gray);
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
button {
  color: var(--color-text);
  background-color: var(--background-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.container {
  max-width: 375px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

/*header*/
.header.container {
  align-items: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  margin-right: 32px;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
  width: 104px;
  height: 49px;
  margin-right: ;
}
.text-heder {
  color: var(--gray);
  font-size: 12px;
  line-height: normal;
  margin-left: 15px;
  margin-right: auto;
  padding: 14px 0px 14px 0px;
}
.text-heder.vchid {
  margin-left: 19px;
}
.top-line {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.top-bloc {
  display: flex;
}
.svhead {
  fill: var(--gray);
}
.header-button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--trans--);
}
.header-button:hover,
.header-button:focus {
  transform: scale(2);
}
.header-button.koshyk {
  margin-right: 40px;
}
.link {
  width: 14px;
  height: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.svghead {
  fill: var(--color-text);
  border-radius: none;
}
.header-link {
  color: var(--color-text);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
}
.header-item {
  padding: 31px 18px 31px 18px;
  transition: var(--trans--);
}
.header-item:hover,
.header-item:focus {
  background-color: var(--hf-background-color);
}

.heder-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background-color);
}
.header-bloc {
  display: flex;
}
/*burger-menu*/
.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--navy-blue-modal);
  transition: opacity var(--trans--), visibility var(--trans--);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px 16px;

  border-radius: 4px;
  background: var(--dairy-modal-background);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--trans--);
}
