:root {
  --color-text: rgba(255, 255, 255, 1);
  --background-color: rgba(0, 0, 0, 1);
  --light-gray: #d0d0d0;
}
body {
  color: var(--color-text);
  background-color: var(--background-color);
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
  width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
}
p {
  text-align: center;
  font-size: 14px;
  line-height: 150%; /* 21px */
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
h4 {
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.spanh4 {
  color: var(--light-gray);
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
button {
  color: var(--color-text);
  background-color: var(--background-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
